.match {
  color: white;
  background-color: #85776a;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  border: 1px solid white;
  border-radius: 5px;
  padding: 20px;
  margin-bottom: 10px;
  &__list-coeff {
    display: flex;
    width: 65%;
    > ul {
      display: flex;
      justify-content: space-between;
      width: 100%;
      > li {
        background: #c4c4c4;
        padding: 0.5%;
        border-radius: 5px;
        color: black;
      }
    }
  }
  &__logos {
    display: flex;
    flex-direction: column;
    > img {
      width: 30px;
      height: 30px;
    }
  }
}
